.sidebarLink {

    a,
    a:link {
        text-decoration: none;
        color:rgb(181, 182, 196);
    }

    a:hover{
        text-decoration: none;
        background-color: rgb(250, 250, 253);
        border-radius: 8px;
        color:rgb(181, 182, 196);
    }

    a:visited {
        text-decoration: none;
    }

    
    .active:hover {
        background-color: rgb(238, 241, 253); /* Active background color */
        color: rgb(2, 39, 194);
    }

    .active {
        text-decoration: none;
        background-color: rgb(238, 241, 253);
        border-radius: 8px;
        color:rgb(2, 39, 194);
    }
}



.wrapper {
    width: 230px;
    padding: 15px;
    background-color: white;
}

.logo{
    align-self: flex-start ;
    width:120px;

}

.logoWrapper {
    width:230px;
    margin: 24px 8px 8px;
}



