

.searchBar {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 0.80rem;
  margin-left: 2px;
  color: rgb(181, 182, 196);
}

.searchBarWrapper {
  background-color: white; 
  border-radius: 10px;
  height: 2.0rem;
  padding: 0 15px;
  width: 220px;
  box-shadow: 0px 0px 0px #ddd;
  display: flex; 
  border: 1px solid grey;
  box-sizing: border-box;
  margin:10px;
}

.filtersWrapper {
  display:flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

.yesNoButtonsWrapper {
  display:flex;
  flex-direction:row;
  justify-content:center;
  border: 1px solid grey;
  border-radius: 18px;
  height:30px;
  width:90px;
}

.yesNoButton {
  border:none;
  background-color: transparent;
  margin:3px;
  padding:0px;
}

p, button {
  margin:10px;
  color: grey;
}
