.pairWrapper{
    display:flex;
    flex-direction:row;
    padding-bottom: 100px;
    width:100%
}



.team {
    display:flex;
    align-items: center;
    flex-direction:column;    
}

.teamInputs {
    display:flex;
    flex-direction:row;
}

 .logoPWrapper {
    border:1px dashed rgb(210, 210, 210);
    border-radius: 5px;
    display:flex;
    align-items: center;
    flex-direction: column;
    height:160px;
    justify-content: center;
    position:relative
}

.p{
    padding: 0px;
    display:flex;
    margin:0px;
    text-align:center;
}

.logoAndNameWrapper {
    justify-content: center;
}

.companyLogoP{
    position: absolute;
    top: -17px;
    left: 10px;
    background-color: white;
    padding: 0 5px;
}

.buttonToggle{
    display:flex;
    flex-direction:row;
    border:1px solid rgb(141, 143, 163);
    border-radius: 8px;
    background-color: none;
    width:fit-content;
    padding:2px;


}

.toggleDomainOff {
        border: none;
        background-color: white;
        height: 24px;
        width: 100px;
}

.toggleDomainOn {
        border: none;
        background-color:rgb(2, 39, 194);
        color: white;
        border-radius: 6px;
        height: 24px;
        width: 100px;
}

.textarea {
    width:100%;
    max-width:100%;
    height:224px;
    border:none;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    padding:10px;
    font-family: "DM Sans";
}