.logoPWrapper {
        border:1px dashed rgb(210, 210, 210);
        border-radius: 5px;
        display:flex;
        align-items: center;
        flex-direction: column;
        height:160px;
        justify-content: center;
        position:relative
    }

.className{
    position: absolute;
    top: -17px;
    left: 10px;
    background-color: white;
    padding: 0 5px;
}