.App {
    width: 100vw;
    height: 100%;
    background-color: rgb(250, 250, 251);
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;

}

.flexContainer {
    display: flex
}

.flexRow {
    flex-direction: row
}

.flexColumn {
    flex-direction: column
}